.container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
    height: 80vh;
   
  }

  .field{
    display:flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  
  input{
    border-radius: 5px;
    width: 300px;
  }

  span{
    padding-top: 10px;
  }

  button{
    border-radius: 4px;
    height: 30px;
    width: 70px;
    background-color:  rgb(70, 109, 176);
  }